html, body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}



.map{
    width: 1920px;
    height: 1920px;
    background-image: url("../images/map.png");
}


.container{
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    text-align: center;
}



.point{
    position: absolute;
    left: 0px;
    min-width: 50px;
    min-height: 50px;
    top: 0px;
    cursor: pointer;
}

.point img{
    width: 100%;
}



.page-wrapper{
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.png");
    background-position: center center;
}


.page-wrapper .logo{
    width: 100%;
    float: left;
}


.page-wrapper .logo img{
    width: 20%;
}
.page-wrapper .banner{
    width: 100%;
    text-align: center;
    display: table;
    height: 100%;
}


.page-wrapper .banner .banner-i{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.page-wrapper .banner .banner-i img{
    max-width: 1000px;
    width: 80%;
}


.mask{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    display: none;
}

.tt{
    display: table;
    width: 100%;
    height: 100%;
}
.tc{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.dlg{
    border-radius: 116px;
}